<!DOCTYPE html>
{% load staticfiles %}
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta property="fb:app_id" content="762220690572262">
		<title>krreame</title>
	    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	    <link href="{% static "css/krreame.css" %}" rel="stylesheet">
	    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
	    <link href="{% static "css/flat-ui-pro.css" %}" rel="stylesheet">
	</head>
	<body>

	{% block content %}
	{% endblock %}
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/es_ES/all.js"></script>
    <script>
    FB.init({appId:'1100138556709560', status: true, cookie: true, xfbml: false});

    </script>
    <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flat-ui-pro.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.masonry.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script>
    <script type="text/javascript" src="{% static "js/krreame.js" %}"></script>
	</body>
</html>