body {
  overflow:hidden;
}

.main-nav.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  padding: 35px 40px;
}

.main-nav {
    position: relative;
    padding: 35px 40px;
    margin: 0px 0px 30px;
}

.button {
  color: #FFF;
  border-color:white;
  display: inline-block;
  height: 38px;
  padding: 0px 15px;
  margin: 0 15px;
  border-style: solid;
  border-width: 1px;
  opacity: 1;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all 0.5s ease 0s;
}

.logo {
  float:left;
}

.ingresa {
  float:right;
}

.menu {
  float:none;
}

.vertical {
  vertical-align: middle;
  display: table-cell;
}

.site-wrapper {
    position: relative;
    z-index: 10;
    min-height: 100%;
    background: #fff;
    -webkit-transition: -webkit-transform 0.5s ease;
            transition: transform 0.5s ease;
}

.main-header {
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    margin-bottom: 5rem;
    text-align: center;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.main-header .inner {
    width: 80%;
}

.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}

.page-title {
  margin: 10px 0px;
  font-size: 5rem;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: "Open Sans",sans-serif;
  color: #FFF;
  line-height: 50px;
}

.page-description {
    margin: 0px;
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.01rem;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}

.main-footer {
  position: absolute;
  bottom: 0;
  right :0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  z-index: 9999;
  vertical-align: bottom;
  display: table-cell;
}