html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    height: 100%;
    max-height: 100%;
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.8rem;
    line-height: 1.75em;
    color: #3A4145;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
}

.main-nav.overlay2 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  padding: 35px 40px;
}

.main-nav {
    position: relative;
    padding: 35px 40px;
    margin: 0px 0px 30px;
    z-index: 300;
}

.button {
  color: #FFF;
  border-color:white;
  display: inline-block;
  height: 38px;
  padding: 0px 15px;
  margin: 0 15px;
  border-style: solid;
  border-width: 1px;
  opacity: 1;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all 0.5s ease 0s;
}

.logo {
  float:left;
}

.ingresa {
  float:right;
}

.menu {
  background: #36465D url("/static/images/123.png") repeat scroll center 2px;
  width:100%;
  height:40px;
  line-height: 40px;
  color: #FFF;
}

.vertical {
  vertical-align: middle;
  display: table-cell;
  width: 100%;
  height: 100%;
}

.clearfix {
  display: block;
}

.site-wrapper {
    position: relative;
    z-index: 10;
    min-height: 100%;
    background: #fff;
    -webkit-transition: -webkit-transform 0.5s ease;
            transition: transform 0.5s ease;
}

.main-header {
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    margin-bottom: 5rem;
    text-align: center;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.main-header .inner {
    width: 80%;
}

.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}

.page-title {
  margin: 10px 0px;
  font-size: 5rem;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: "Open Sans",sans-serif;
  color: #FFF;
  line-height: 50px;
}

.page-description {
    margin: 0px;
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.01rem;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}

.main-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  vertical-align: bottom;
  display: table-cell;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#content {
  /*width: 980px;*/
  /*width: 95%;*/
  width: auto;
  margin: 0 auto;
}

.item {
  display: block;
  float: left;
  width: 300px;
  margin: 0 20px 20px 0;
  -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  background-color: white;
  border-radius: 3px;
}

.item p{
  font-size:14px;
  font-family:Helvetica
}

.featured {
  width: 620px;
}

.item img {
  width: 300px;
  height: auto;
}

.featured img {
  width: 620px;
  height: auto;
}

header:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  margin: 0.8em auto;
  background-color: #111;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    display: none;
}

.overlay .title {
    text-align: center;
    font-size: 30px;
}

.overlay .description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.80);
    width: 100%;
    margin: 0;
}

.overlay .description p {
    margin: 20px;
}

.item:hover .overlay {
    display: block;
}

div .item p {
  padding: 10px 8px 0 8px;
}
.center {
  width: 1040px;
  position: relative;
  z-index: 100;
  padding: 103px 0px;
  margin: 0px auto;
}

.pageOld {
  position: relative;
  width: 879px;
  margin: 0px auto;
  background-color: #FFF;
}

#pageInvestor .subPage {
    background: transparent none repeat scroll 0% 0%;
}
.subPage {
    z-index: 300;
    position: relative;
    margin-top: 56px;
    margin: 0px auto;
    background: #E4E6E6 none repeat scroll 0% 0%;
    position: relative;
}

.pageContent {
    position: relative;
}

.module16 {
    font: 300 16px/22px "proxima-nova",sans-serif;
}
.moduleLight {
    color: #2E2E2E;
    background: transparent url("/static/images/lighter.gif") repeat scroll 0% 0%;
}
.iiModule {
    padding: 40px;
}

.moduleIntro {
    padding-bottom: 30px;
    border-bottom: 1px solid #C0C4C6;
}

.moduleIntro .modColA {
    width: 380px;
    margin-right: 30px;
    float: left;
}

.moduleIntro .modColB {
    width: 389px;
    float: left;
}

.moduleIntro .modColC {
  margin-top: 20px;
  width: 100%;
  float: left;
}

.iiModule .modTitle {
    margin-bottom: 7px;
    font: 400 10px/10px "proxima-nova",sans-serif;
    letter-spacing: 1px;
}

.modSubtitle {
    border-bottom: 2px solid #EDF0F0;
    margin-bottom: 20px;
    padding-bottom: 30px;
    font: 400 16px/16px "proxima-nova",sans-serif;
    letter-spacing: 2px;
}

.moduleDarker {
    padding: 40px 40px 80px;
    color: #EDF0F0;
    background: transparent url("/static/images/darker.gif") repeat scroll 0% 0%;
}

ul.factList {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #656B6F;
}

ul.factList li.fact {
    height: 30px;
    margin: 0px;
    padding: 10px 0px;
    list-style-type: none;
    border-bottom: 1px solid #656B6F;
    font: 400 10px/10px "proxima-nova",sans-serif;
    letter-spacing: 1px;
}

ul.factList li.fact .factTitle {
    float: left;
    color: #B9D8E6;
}

ul.factList li.fact .factAnswer {
    float: right;
    color: #EDF0F0;
}

#repeatableBG {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: #ABABAB url("/static/images/123.png") repeat scroll center 2px;
}

.bg {
   background: url("/static/images/123.png") repeat scroll center 2px; 
}

.contentTitle {
    font: 400 19px/19px "Open sans",sans-serif;
    letter-spacing: 1px;
    color: #282A2A;
    position: absolute;
    top: -56px;
    left: 0px;
}

b, strong {
    font-weight: bold;
}

.item a {
  font-family:"Helvetica", sans-serif;
  color: #A1A1A1;

  margin-right:10px;
}

.post-tags {
    font-size:13px;
    margin-left:10px;
    line-height:1
}

.post-footer {
  height:45px;
  width: 100%;
  padding:10px 10px;
}

.post-notes {
    padding: 0;
    float: left;
    margin-right: 2px;
    position: relative;
    font-size: 13px;
}

.post-controls {
  float:right;
}

.conditions {
  color: #666;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 22px;
  padding-right: 12px;
  display:inline-block;
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #EEE;
}

.floating-label-form-group label {
    transition: top 0.3s ease 0s, opacity 0.3s ease 0s;
    opacity: 0;
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0px;
    font-size: 0.85em;
    line-height: 1.76471em;
    vertical-align: baseline;
}

.floating-label-form-group input, .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0px;
    font-size: 1.5em;
    background: transparent none repeat scroll 0px 0px;
    box-shadow: none !important;
    resize: none;
    border: medium none;
}

.floating-label-form-group textarea{
  width:100%;
}

form:first-child .floating-label-form-group {
    border-top: 1px solid #EEE;
}

.boton-enviar {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0px;
    padding: 15px 25px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.signup-form {
  width:40%;
  margin:0 auto;
  background: white;
  text-align:left;
  border-radius:4px;
}


.signup-center {
  display: block;
  position: absolute;
  top: 40%;
  margin-left: -400px;
  width: 800px;
  box-sizing: border-box;
  left: 50%;
}

.subheader {
  width: 517px;
  position: relative;
  left: 50%;
  margin: 10px 0px 16px -258px;
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
  color: #FFF;
  text-align: center;
}

.floating-label-form-group2 {
  font-size: 12px;
  position: relative;
  margin-bottom: 0px;
  border-bottom: 1px solid #EEE;
  border-radius:4px;
  padding-left:5px;
}

.floating-label-form-group2 label {
    transition: top 0.3s ease 0s, opacity 0.3s ease 0s;
    opacity: 0;
    display: none;
    z-index: 0;
    position: relative;
    margin: 0px;
    font-size: 0.85em;
    line-height: 1.76471em;
    vertical-align: baseline;
}

.floating-label-form-group2 input {
    z-index: 1;
    position: relative;
    padding: 5px 10px 5px 10px;
    border-radius: 0px;
    font-size: 1.5em;
    background: transparent none repeat scroll 0px 0px;
    box-shadow: none !important;
    resize: none;
    border: medium none;
}

.chrome.blue {
    border-color: #529ECC;
    background: #529ECC none repeat scroll 0% 0%;
  }

.chrome {
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
    line-height: 14px;
    height: 40px;
    padding: 4px 7px 5px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    border-radius: 2px;
    border-color: #9DA6AF;
    background: #9DA6AF none repeat scroll 0% 0%;
    -moz-user-select: none;
}

.chrome.signup_forms_submit {
    width: 40%;
    margin: 12px 0px 0px;
}